<p-panel header="Number Pipes" class="p-1">
  <p>
    Pipes included in Angular - Usually in the Common Module
  </p>
</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Net Sales" subheader="of the current year">
      {{totalSells + 1235 | number: '1.2-2'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Gross Sales" subheader="of the current year">
      {{totalSells | currency: 'CLP':'symbol-narrow':'1.2-3'}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Percentage Gains" subheader="of the current year">
      {{percentage | percent: '1.2-2'}}
    </p-card>
  </div>

</div>
